<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kejia" >

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find kejia_description)/urdf/materials.xacro" />

  <!-- Import robot  -->
  <xacro:include filename="$(find kejia_description)/urdf/kejia_body.xacro"/>
  <xacro:kejia_body parent="base_link" meshes="package://kejia_description/sdf"/>
</robot>
